<html>
<!--
 Original UI design
 credit Prof. Danielle Safonte
 bsg_people_app
 https://github.com/osu-cs340-ecampus/flask-starter-app/tree/24f289773ee051ebb8c83822bd78441ccb1dad33/bsg_people_app
-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mutual Aid Caregiving</title>
    <link rel="stylesheet" href="./static/css/main.css">
</head>
<body>

    <header>
        <h1>Mutual Aid Caregiving</h1>
        <nav>
            <ul>
            <li><a href="/neighbors">Neighbors</a></li>
            <li><a href="/certify_neighbors">Certify Neighbors</a></li>
            </ul>
        </nav>
    </header>
    

    <main>

            
            <form id="add_neighbor" action="/add_neighbor" method="post">
			<legend><Add a Neighbor</legend>
			<fieldset>

				<label for="make">first name:</label>
				<input type="text" class="form-control" id="firstName" name="firstName" placeholder="" required>

				<label for="model">last name:</label>
				<input type="text" class="form-control" id="lastName" name="lastName" placeholder="" required>

				<label for="color">phone number:</label>
				<input type="text" class="form-control" id="neighborPhone" name="neighborPhone" placeholder=""> 
            </fieldset>

			<input type="submit" value="Add Neighbor" name="add_neighbor">
            </form>

    </main>
    <footer>
        <p>Made by Chris Blum and Sara Nettle 2024</p>
    </footer>
    </body>
    </html>