<!DOCTYPE html>
<html lang="en">
<!--
 Original UI design
 credit Prof. Danielle Safonte
 bsg_html_UI.zip
 https://canvas.oregonstate.edu/courses/1967354/assignments/9690212?module_item_id=24460842
-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Certify Neighbors</title>
    <link rel="stylesheet" href="./static/css/main.css">
    <script language="JavaScript">
        function showform(dowhat) {
            /*
            * four DIVS: browse, insert, update, delete
            * this function sets one visible the others not
            */
            if (dowhat == 'insert'){
                document.getElementById('browse').style.display = 'none';
                document.getElementById('insert').style.display = 'block';
                document.getElementById('update').style.display = 'none';
                document.getElementById('delete').style.display = 'none';
            }
            else if (dowhat == 'update'){
                document.getElementById('browse').style.display = 'none';
                document.getElementById('insert').style.display = 'none';
                document.getElementById('update').style.display = 'block';
                document.getElementById('delete').style.display = 'none';
            }
            else if (dowhat == 'delete'){
                document.getElementById('browse').style.display = 'none';
                document.getElementById('insert').style.display = 'none';
                document.getElementById('update').style.display = 'none';
                document.getElementById('delete').style.display = 'block';
            }
            else if (dowhat == 'all'){
                document.getElementById('browse').style.display = 'block';
                document.getElementById('insert').style.display = 'block';
                document.getElementById('update').style.display = 'block';
                document.getElementById('delete').style.display = 'block';
            }
            else { //by default display browse
                document.getElementById('browse').style.display = 'block';
                document.getElementById('insert').style.display = 'none';
                document.getElementById('update').style.display = 'none';
                document.getElementById('delete').style.display = 'none';
            }
        }
        function newNeighborCertification() { showform('insert'); }
        function updateNeighborCertification(pid) { showform('update'); }
        function deleteNeighborCertification(pid) { showform ('delete'); }
        function browseNeighborCertifications() { showform ('browse'); }
        function showAll() { showform ('all'); }
    </script>
</head>

<body onload="browseNeighborCertifications()">
<header>
    <h1>Mutual Aid Caregiving</h1>
    <h2>Certify Neighbors</h2>
    <nav>
        <ul>
            <li><a href="index">Home</a></li>
            <li><a href="neighbors">Neighbors</a></li>
            <li><a href="locations">Locations</a></li>
            <li><a href="communities">Communities</a></li>
            <li><a href="visits">Visits</a></li>
            <li><a href="certifications">Certifications</a></li>
            <li><a href="visit_types">Visit Types</a></li>
            <li><a href="certify_neighbors">Certify Neighbors</a></li>
            <li><a href="community_neighbors">Community Neighbors</a></li>
            <li><a href="about">About</a></li>
        </ul>
    </nav>
</header>

<main>
    <div id="browse">
        <p>On this page, you can give neighbors a certification, or you can remove the certification. This information allows for neighbors to self-report whether they qualify to do certain tasks for their fellow community members.</p>
        <p><a href="#" onClick="showAll()">Display all forms</a> </p>
        <table border="1" cellpadding="5">
            <tr>
                <th><a href="#" onClick="newNeighborCertification()">New</a></th>
                <th></th>
                <!-- Iterate through each key in the first entry to get the
                column name -->
                {% for key in certify_neighbors[0].keys() %}

                    <!-- Create a <th> tag with the key inside of it, this will be
                    our header row -->
                    <th>{{ key }}</th>

                    <!-- End of this for loop -->
                {% endfor %}
            </tr>
            {% for certified_neighbor in certify_neighbors %}
                <tr>
                    <td><a href="edit_certify_neighbors/{{certified_neighbor.neighborHasCertificationID}}">Edit</a></td>
                    <td><a href="delete_certify_neighbors/{{certified_neighbor.neighborHasCertificationID}}">Delete</a></td>
                    {% for key in certified_neighbor.keys() %}
                        <td>{{certified_neighbor[key]}}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
        <p>&nbsp;</p>
    </div> <!-- browse -->
    <div id="insert">
        <form method="POST" id="addNeighborCertification">
            <fieldset class="fields">
                <legend><strong>Add Certification to Neighbor</strong></legend>
                <label for="neighbor"> Neighbor </label>
                <select id="neighbor" name="neighbor">
                    <option value="0">&nbsp;</option>
                    {% for neighbor in neighbors %}
                        <option value="{{ neighbor['neighborID'] }}"> {{neighbor['name']}}</option>
                        <!-- End of this for loop -->
                    {% endfor %}
                </select>
                <label for="certification"> Certification </label>
                <select id="certification" name="certification">
                    <option value="0">&nbsp;</option>
                    {% for certification in certifications %}
                        <option value="{{ certification['certificationID'] }}"> {{certification['certificationTitle']}}</option>
                        <!-- End of this for loop -->
                    {% endfor %}
                </select>
            </fieldset>
            <input class="btn" type="submit" id="addNeighborCertificationBtn" name="addNeighborCertificationBtn" value="Certify Neighbor">
            <input class="btn" type="button" value="cancel" onClick="browseNeighborCertifications()">
        </form>
    </div><!-- insert -->
    <p>&nbsp;</p>

    <p>&nbsp;</p>
</main>

<footer>
    <p>Made by Chris Blum and Sara Nettle 2024</p>
</footer>

</body>