<!DOCTYPE html>
<html lang="en">
<!--
 Original UI design
 credit Prof. Danielle Safonte
 bsg_html_UI.zip
 https://canvas.oregonstate.edu/courses/1967354/assignments/9690212?module_item_id=24460842
-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Certifications</title>
    <link rel="stylesheet" href="./static/css/main.css">
    <script language="JavaScript">
        function showform(dowhat) {
            /*
            * four DIVS: browse, insert, update, delete
            * this function sets one visible the others not
            */
            if (dowhat == 'insert'){
                document.getElementById('browse').style.display = 'none';
                document.getElementById('insert').style.display = 'block';
                document.getElementById('update').style.display = 'none';
                document.getElementById('delete').style.display = 'none';
            }
            else if (dowhat == 'update'){
                document.getElementById('browse').style.display = 'none';
                document.getElementById('insert').style.display = 'none';
                document.getElementById('update').style.display = 'block';
                document.getElementById('delete').style.display = 'none';
            }
            else if (dowhat == 'delete'){
                document.getElementById('browse').style.display = 'none';
                document.getElementById('insert').style.display = 'none';
                document.getElementById('update').style.display = 'none';
                document.getElementById('delete').style.display = 'block';
            }
            else if (dowhat == 'all'){
                document.getElementById('browse').style.display = 'block';
                document.getElementById('insert').style.display = 'block';
                document.getElementById('update').style.display = 'block';
                document.getElementById('delete').style.display = 'block';
            }
            else { //by default display browse
                document.getElementById('browse').style.display = 'block';
                document.getElementById('insert').style.display = 'none';
                document.getElementById('update').style.display = 'none';
                document.getElementById('delete').style.display = 'none';
            }
        }
        function newCertifications() { showform('insert'); }
        function updateCertifications(pid) { showform('update'); }
        function deleteCertifications(pid) { showform ('delete'); }
        function browseCertifications() { showform ('browse'); }
        function showAll() { showform ('all'); }
    </script>
</head>

<body onload="browseCertifications()">
<header>
    <h1>Mutual Aid Caregiving</h1>
    <h2>Certifications</h2>
    <nav>
        <ul>
            <li><a href="index">Home</a></li>
            <li><a href="neighbors">Neighbors</a></li>
            <li><a href="locations">Locations</a></li>
            <li><a href="communities">Communities</a></li>
            <li><a href="visits">Visits</a></li>
            <li><a href="certifications">Certifications</a></li>
            <li><a href="visit_types">Visit Types</a></li>
            <li><a href="certify_neighbors">Certify Neighbors</a></li>
            <li><a href="community_neighbors">Community Neighbors</a></li>
            <li><a href="about">About</a></li>
        </ul>
    </nav>
</header>

<main>
    <div id="browse">
        <p>On this page, you can add, edit, or delete certifications. Note, this page will not allow you to give certifications to neighbors.</p>
        <p><a href="#" onClick="showAll()">Display all forms</a> </p>
        <table border="1" cellpadding="5">
            <tr>
                <th><a href="#" onClick="newCertifications()">New</a></th>
                <th></th>
                <!-- Iterate through each key in the first entry to get the
                column name -->
                {% for key in certifications[0].keys() %}

                    <!-- Create a <th> tag with the key inside of it, this will be
                    our header row -->
                    <th>{{ key }}</th>

                    <!-- End of this for loop -->
                {% endfor %}
            </tr>
            {% for certification in certifications %}
            <tr>
                <td><a href="#" onClick="updateCertifications('this.certificationID')">Edit</a></td>
                <td><a href="#" onclick="deleteCertifications('this.certificationID')">Delete</a></td>
                {% for key in certification.keys() %}
                <td>{{certification[key]}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
        <p>&nbsp;</p>
    </div> <!-- browse -->
    <div id="insert">
        <form method="POST" id="addCertifications">
            <legend><strong>Add Certification</strong></legend>
            <fieldset class="fields">
                <label> Certification Title </label> <input type="text" name="certificationTitle">
            </fieldset>
            <input class="btn" type="submit" id="addCertificationsBtn" value="Add Certification">
            <input class="btn" type="button" value="cancel" onClick="browseCertifications()">
        </form>
    </div><!-- insert -->
    <p>&nbsp;</p>
    <div id="update">
        <form method="POST" id="updateCertifications">
            <legend><strong>Update Certification</strong></legend>
            <fieldset class="fields">
                <input type="hidden" name="certificationID" id="updateCertificationsID" value="1">
                <label> ID: </label> 1
                <label> Certification Title </label> <input type="text" name="certificationTitle">
            </fieldset>
            <input class="btn" type="submit" id="UpdateSaveCertifications" value="Save Update Certification">
            <input class="btn" type="button" value="cancel" onClick="browseCertifications()">
        </form>
    </div><!-- update -->
    <p>&nbsp;</p>
    <div id="delete" style="display: block">
        <form method="POST" id="deleteCertifications">
            <legend><strong>Delete Certification</strong></legend>
            <fieldset class="fields">
                <p>Are you sure you wish to delete the following?</p>
                <input type="hidden" name="certificationID" id="deleteCertificationsID" value="1">I a
                <label><strong>ID:</strong></label> 1
                <label> <strong>Certification Title</strong> </label> CPR Certfied

            </fieldset>
            <input class="btn" type="submit" id="DeleteCertificationsBtn" value="Delete Certification">
            <input class="btn" type="button" value="cancel" onClick="browseCertifications()">
        </form>
    </div><!-- delete -->
</main>

<footer>
    <p>Made by Chris Blum and Sara Nettle 2024</p>
</footer>

</body>