<!DOCTYPE html>
<html lang="en">
<!--
 Original UI design
 credit Prof. Danielle Safonte
 bsg_html_UI.zip
 https://canvas.oregonstate.edu/courses/1967354/assignments/9690212?module_item_id=24460842
-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Communities</title>
    <link rel="stylesheet" href="./static/css/main.css">
    <script language="JavaScript">
        function showform(dowhat) {
            /*
            * four DIVS: browse, insert, update, delete
            * this function sets one visible the others not
            */
            if (dowhat == 'insert'){
                document.getElementById('browse').style.display = 'none';
                document.getElementById('insert').style.display = 'block';
                document.getElementById('update').style.display = 'none';
                document.getElementById('delete').style.display = 'none';
            }
            else if (dowhat == 'update'){
                document.getElementById('browse').style.display = 'none';
                document.getElementById('insert').style.display = 'none';
                document.getElementById('update').style.display = 'block';
                document.getElementById('delete').style.display = 'none';
            }
            else if (dowhat == 'delete'){
                document.getElementById('browse').style.display = 'none';
                document.getElementById('insert').style.display = 'none';
                document.getElementById('update').style.display = 'none';
                document.getElementById('delete').style.display = 'block';
            }
            else if (dowhat == 'all'){
                document.getElementById('browse').style.display = 'block';
                document.getElementById('insert').style.display = 'block';
                document.getElementById('update').style.display = 'block';
                document.getElementById('delete').style.display = 'block';
            }
            else { //by default display browse
                document.getElementById('browse').style.display = 'block';
                document.getElementById('insert').style.display = 'none';
                document.getElementById('update').style.display = 'none';
                document.getElementById('delete').style.display = 'none';
            }
        }
        function newCommunity() { showform('insert'); }
        function updateCommunity(pid) { showform('update'); }
        function deleteCommunity(pid) { showform ('delete'); }
        function browseCommunities() { showform ('browse'); }
        function showAll() { showform ('all'); }
    </script>
</head>

<body onload="browseCommunities()">
<header>
    <h1>Mutual Aid Caregiving</h1>
    <h2>Communities</h2>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/neighbors">Neighbors</a></li>
                <li><a href="/locations">Locations</a></li>
                <li><a href="/communities">Communities</a></li>
                <li><a href="/visits">Visits</a></li>
                <li><a href="/certifications">Certifications</a></li>
                <li><a href="/visit_types">Visit Types</a></li>
                <li><a href="/certify_neighbors">Certify Neighbors</a></li>
                <li><a href="/community_neighbors">Community Neighbors</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </nav>
</header>

<main>
    <div id="browse">
        <p>On this page, you can add, edit, or delete a community. Note, you cannot delete a community if it has neighbors - you will need to delete the individual neighbors first.</p>
        <p><a href="#" onClick="showAll()">Display all forms</a> </p>
        <table border="1" cellpadding="5">
            <tr>
                <th><a href="#" onClick="newCommunity()">New</a></th>
                <th></th>
                <!-- Iterate through each key in the first entry to get the
                column name -->
                {% for key in data[0].keys() %}

                    <!-- Create a <th> tag with the key inside of it, this will be
                    our header row -->
                    <th>{{ key }}</th>

                    <!-- End of this for loop -->
                {% endfor %}
            </tr>
            {% for community in data %}
                <tr>
                    <td><a href="edit_community/{{community.communityID}}">Edit</a></td>
                    <td><a href="delete_community/{{community.communityID}}">Delete</a></td>
                    {% for key in community.keys() %}
                        <td>{{community[key]}}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
        <p>&nbsp;</p>
    </div> <!-- browse -->
    <div id="insert">
        <form method="POST" id="addCommunity">
            <legend><strong>Add Community</strong></legend>
            <fieldset class="fields">
                <label> Community Name </label> <input type="text" name="communityName">
            </fieldset>
            <input class="btn" type="submit" id="addCommunityBtn" value="Add Community">
            <input class="btn" type="button" value="cancel" onClick="browseCommunities()">
        </form>
    </div><!-- insert -->
    <p>&nbsp;</p>
</main>

<footer>
    <p>Made by Chris Blum and Sara Nettle 2024</p>
</footer>

</body>
</html>