<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mutual Aid Caregiving</title>
    <link rel="stylesheet" href="./static/css/main.css">


</head>
<body>

    <header>
        <h1>Mutual Aid Caregiving</h1>
        <nav>
            <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/neighbors">Neighbors</a></li>
            <li><a href="/locations">Locations</a></li>
            <li><a href="/communities">Communities</a></li>
            <li><a href="/visits">Visits</a></li>
            <li><a href="/certifications">Certifications</a></li>
            <li><a href="/visit_types">Visit Types</a></li>
            <li><a href="/certify_neighbors">Certify Neighbors</a></li>
            <li><a href="/community_neighbors">Community Neighbors</a></li>
            <li><a href="/about">About</a></li>
            </ul>
        </nav>
    </header>
    

    <main>
    
        <h2>Community Visits</h2>
        <p>Welcome! On this page, you can quickly view all of the different visits filtered by community. You can also request a visit, or you can answer a visit request for one of your fellow community members.</p>
        
         <ul>
         {% for community in community_data %}

         <li><a href="/view_community_visits_{{ community.communityID }}">{{ community.communityName }}</a></li>
         

        {% endfor %}
         </ul>
            
         
    </main>

    <footer>
        <p>Made by Chris Blum and Sara Nettle 2024</p>
    </footer>

</body>
</html>