<html>
<!--
 Original UI design
 credit Prof. Danielle Safonte
 bsg_people_app
 https://github.com/osu-cs340-ecampus/flask-starter-app/tree/24f289773ee051ebb8c83822bd78441ccb1dad33/bsg_people_app
-->
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Neighbors</title>
        <link rel="stylesheet" href="./static/css/main.css">
        
    </head>

    <body>
    <header>
        <h1>Mutual Aid Caregiving</h1>
        <h2>Neighbors</h2>
        <nav>
            <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/neighbors">Neighbors</a></li>
            <li><a href="/locations">Locations</a></li>
            <li><a href="/communities">Communities</a></li>
            <li><a href="/visits">Visits</a></li>
            <li><a href="/certifications">Certifications</a></li>
            <li><a href="/visit_types">Visit Types</a></li>
            <li><a href="/certify_neighbors">Certify Neighbors</a></li>
            <li><a href="/community_neighbors">Community Neighbors</a></li>
            <li><a href="/about">About</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div>
            <p>On this page, you can add, edit, or delete a neighbor. Note that when you add or edit a neighbor, you cannot include information regarding whether they have certifications. To do that, you will need to visit <a href="/certify_neighbors">this page</a>.</p>

            <p>Add a neighbor <a href="/add_neighbor">here.</a></p>

        <table>
            {% if data %}
			    <thead>
				    <tr>
                        {% for key in data[0].keys() %}
					    
					    <th scope="col" data-field="{{ key }}" data-filter-control="input">{{ key }}</th>
					
                        {% endfor %} 
                        <th scope="col" data-filter-control="input"></th>
                        <th scope="col" data-filter-control="input"></th>
                    </tr>

				<tbody>
                    {% for item in data %}
					    <tr>
                            {% for key in item.keys() %}

						    <td> {{item[key]}}</td> 
                            {% endfor %}

                            
						    <td><a href="edit_neighbor/{{item.neighborID}}" class="btn btn-default">Edit</a></td>
						    <td><a href="delete_neighbor/{{item.neighborID}}" class="btn btn-default">Delete</a></td>

					    </tr> 
                        {% endfor %} 
                {% endif %} 
        </table>   
            
    </main>

    <footer>
        <p>Made by Chris Blum and Sara Nettle 2024</p>
    </footer>

    </body>
</html>